### Import libs

In [1]:
import pandas as pd

# Series

A pandas Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a spreadsheet or a SQL table. Each element in a Series is associated with a unique label, called an index. Series can be created from various data structures like lists, arrays, or dictionaries.

#### Function Parameters: 
- `data=x`: **_List_** that will be converted to a **_Series_**
-  `index=[]`: Creates a  **_list_** of names for the **_Series Index_**

In [2]:
# example of a series created by a list

preco_acao = [18.7, 39.7, 60.8, 51.9]

s_preco_acao = pd.Series(data=preco_acao,
                         index= ['Empresa A', 'Empresa B', 'Empresa C', 'Empresa D'])
s_preco_acao

Empresa A    18.7
Empresa B    39.7
Empresa C    60.8
Empresa D    51.9
dtype: float64

In [3]:
# example of a series created by a dict
preco_acao_dict = {
    'empresa_a' : 18.7,
    'empresa_b' : 39.7,
    'empresa_c' : 60.8,	
    'empresa_d' : 51.9
}

s_preco_acao_dict = pd.Series(preco_acao_dict)
s_preco_acao_dict

empresa_a    18.7
empresa_b    39.7
empresa_c    60.8
empresa_d    51.9
dtype: float64

### Methods

In [4]:
#index: return the index of the series
s_preco_acao.index

Index(['Empresa A', 'Empresa B', 'Empresa C', 'Empresa D'], dtype='object')

In [5]:
#values: return the values of the series
s_preco_acao.values

array([18.7, 39.7, 60.8, 51.9])

In [6]:
#shape: return the shape of the series
s_preco_acao.shape

(4,)

In [7]:
#mean: return the mean of the series
s_preco_acao.mean()

42.775

In [8]:
#agg: returns a list with more than one required mathematical operation on a list in arguments
s_preco_acao.agg(['mean', 'max', 'min', 'median'])

mean      42.775
max       60.800
min       18.700
median    45.800
dtype: float64

In [9]:
#iloc: return the value of the series in the index passed as argument
s_preco_acao.iloc[0:2]

Empresa A    18.7
Empresa B    39.7
dtype: float64

In [10]:
#loc: return the value of the series in the index passed as argument
s_preco_acao.loc[['Empresa A', 'Empresa C']]

Empresa A    18.7
Empresa C    60.8
dtype: float64

### Example of mathematical operation between two series

In [11]:
s_lucro_por_acao = pd.Series([4.5, 11.63, 9.3, 10.14], index=['Empresa A', 'Empresa B', 'Empresa C', 'Empresa D'])

s_preco_sobre_lucro = s_preco_acao / s_lucro_por_acao
s_preco_sobre_lucro

Empresa A    4.155556
Empresa B    3.413586
Empresa C    6.537634
Empresa D    5.118343
dtype: float64

# Dataframe

A DataFrame is a collection of series. We will create a DataFrame using previously created series.

#### Function Parameters: 
- `data={}`: Receives a **_Dict_**  containing the column name as the key and the **_Series_** as the value

In [12]:
df_acoes = pd.DataFrame(data={'Preço': s_preco_acao,
                              'Lucro por ação': s_lucro_por_acao, 
                              'Preço sobre lucro': s_preco_sobre_lucro})
df_acoes

           Preço  Lucro por ação  Preço sobre lucro
Empresa A   18.7            4.50           4.155556
Empresa B   39.7           11.63           3.413586
Empresa C   60.8            9.30           6.537634
Empresa D   51.9           10.14           5.118343